name: Trigger website build test

on:
  pull_request:
    branches:
      - main

jobs:
  airtable:
    name: Trigger website build test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Trigger test build
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GLOBAL_GHA_PAT }}
          script: |
            await github.rest.actions.createWorkflowDispatch({
              owner: 'rladies',
              repo: 'rladies.github.io',
              workflow_id: 'build-preview.yaml',
              ref: 'main',
              inputs: {
                blogs: '${{ github.run_id }}',
                triggering_issue: '${{ github.event.number }}',
                triggering_repo: '${{ github.event.repository.name }}'
              }
            })

      - name: Notify about build start
        env:
            GH_TOKEN: ${{ secrets.GLOBAL_GHA_PAT }}
        run: |
            issue_number=${{ github.event.number }}
            owner="rladies"
            repo="${{ github.event.repository.name }}"
            comment_body="Building test-site now! The build will take a few minutes,
                            but you can track its progress in the [website repo](https://github.com/rladies/rladies.github.io/actions/workflows/build.yaml)."
            gh issue comment $issue_number --repo $owner/$repo -b "$comment_body"
