on:
  pull_request:
    branches:
      - master
      - main
name: Validate json
jobs:
  validate_configurations:
    name: Validate configurations
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Validate other schema
        uses: snapcart/json-schema-validator@v1.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          json_schema: .entry_schema.schema
          json_path_pattern: blogs/*.json$